@import './RegisterPage.css';

.auth-form h2 {
  color: #1e3a8a;
}

.info-text {
  text-align: center;
  font-size: 0.95rem;
  color: #6b7280;
  margin-bottom: 6px;
  line-height: 1.4;
}

.auth-form button {
  background: #0ea5e9;
}

.auth-form button:hover:not(:disabled) {
  background: #0284c7;
}
